---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import List from '../components/List.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).slice(0, 2);

const projects = (await getCollection('project')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).slice(0, 2);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
				max-height: 100px;
				width: auto;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>KristianKaa.dk</h1>
			<p>
				Welcome to my personal corner of the World Wide Web. On this page you'll find information about me, my projects 
				and when I write about something (mainly technology, but sometimes also other stuff).
			</p>
			<p>
				If you want to reach out, <a href="https://www.linkedin.com/in/kristian-kaa/">LinkedIn</a> is probably the 
				best place.
			</p>
			<p>Enjoy your stay :)</p>
			<br />
			<h3>Latest Blogs</h2>
			<br />
			<section>
				<List items={posts} />
			</section>
			<br /><br />
			<h3>Latest Projects</h3>
			<br />
			<section>
				<List items={projects} />
			</section>	
		</main>
		<Footer />
	</body>
</html>
